<header class="header text-light text-center py-4">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
      <h4 class="navbar-brand-custom custom-gray">BOREALCODE</h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="/assets/TODASLASTIENDAS.html" class="nav-link text-light mx-3">Todas las tiendas</a>
          </li>
          
          <li class="nav-item">
            <a href="/assets/ACERCADENOSOTROS.html" class="nav-link text-light mx-3">Acerca de nosotros</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Carrusel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let img of images; let i = index" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let img of images; let i = index" [class.active]="i === 0">
          <div class="carousel-item-content position-relative">
            <!-- Imagen principal -->
            <img class="main-img d-block w-100" [src]="img.src" [alt]="img.alt">
            
            <!-- Imagen y texto que aparecen al hacer hover -->
            <div class="hover-overlay position-absolute w-100 h-100 top-0 start-0">
              <img class="hover-img w-100 h-100" [src]="img.hoverSrc" [alt]="img.alt">
              <div class="hover-text">
                <h2 class="hover-title">{{ img.text }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </a>
    </div>

    <!-- Sección de tiendas -->
    <div class="text-center py-5">
      <h1 class="custom-gray">TIENDAS</h1>
      <div class="main-container">
        <div class="card-container">
          <div class="card" *ngFor="let tienda of tiendas">
            <div class="card_form">
              <span>{{ tienda.nombre }}</span>
            </div>
            <img [src]="tienda.imagen" alt="card-image" class="card_image">
            <div class="card_data">
              <div style="display: flex" class="data">
                <div class="text">
                  <label class="text_m">{{ tienda.titulo }}</label>
                  <div class="cube text_s">
                    <label class="side front">{{ tienda.descripcion }}</label>
                    <label class="side top">{{ tienda.username }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="additional-info">
              <p>{{ tienda.info }}</p>
            </div>
            <div class="button-container">
              <button class="button" (click)="irAlSitio(tienda.url)">Ver más</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección de redes sociales -->
      <div class="social-card">
        <div class="iso-pro" *ngFor="let red of redesSociales">
          <a [href]="red.url" target="_blank">
            <svg class="svg" [attr.viewBox]="red.svgViewBox" fill="currentColor">
              <path [attr.d]="red.svgPath"></path>
            </svg>
            <span class="text">{{ red.nombre }}</span>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="isModalVisible" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Formulario de Contacto</h2>
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" ngModel required
              [ngClass]="{'is-invalid': contactForm.controls['name']?.invalid && contactForm.controls['name']?.touched}"
              pattern="[A-Za-záéíóúÁÉÍÓÚÑñ ]+" title="Solo se permiten letras">
            <div *ngIf="contactForm.controls['name']?.invalid && contactForm.controls['name']?.touched">
              <small class="invalid-feedback">El nombre es obligatorio y solo debe contener letras.</small>
            </div>
          </div>
          <div>
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" ngModel required
              [ngClass]="{'is-invalid': contactForm.controls['email']?.invalid && contactForm.controls['email']?.touched}">
            <div *ngIf="contactForm.controls['email']?.invalid && contactForm.controls['email']?.touched">
              <small class="invalid-feedback">El correo electrónico es obligatorio y debe tener un formato válido.</small>
            </div>
          </div>
          <div>
            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" ngModel required
              [ngClass]="{'is-invalid': contactForm.controls['message']?.invalid && contactForm.controls['message']?.touched}"></textarea>
            <div *ngIf="contactForm.controls['message']?.invalid && contactForm.controls['message']?.touched">
              <small class="invalid-feedback">El mensaje es obligatorio.</small>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</header>
