<header class="header text-light text-center py-4">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
      <h4 class="navbar-brand-custom custom-gray">BOREALCODE</h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="/assets/TODASLASTIENDAS.html" class="nav-link text-light mx-3">Todas las tiendas</a>
          </li>
          <li class="nav-item">
            <a href="/assets/SALE.html" class="nav-link text-light mx-3">Sale</a>
          </li>
          <li class="nav-item">
            <a href="/assets/ACERCADENOSOTROS.html" class="nav-link text-light mx-3">Acerca de nosotros</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="text-center py-5">
      <h1 class="custom-gray">TIENDAS</h1>
      <div class="main-container">
        <div class="card-container">
          <div class="card" *ngFor="let tienda of tiendas">
            <div class="card_form">
              <span>{{ tienda.nombre }}</span>
            </div>
            <img [src]="tienda.imagen" alt="card-image" class="card_image">
            <div class="card_data">
              <div style="display: flex" class="data">
                <div class="text">
                  <label class="text_m">{{ tienda.titulo }}</label>
                  <div class="cube text_s">
                    <label class="side front">{{ tienda.descripcion }}</label>
                    <label class="side top">{{ tienda.username }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="additional-info">
              <p>{{ tienda.info }}</p>
            </div>
            <div class="button-container">
              <button class="button" (click)="irAlSitio(tienda.url)">Ver más</button>
            </div>
          </div>
        </div>
      </div>

      <div class="social-card">
        <div class="iso-pro" *ngFor="let red of redesSociales">
          <a [href]="red.url" target="_blank">
            <svg class="svg" [attr.viewBox]="red.svgViewBox" fill="currentColor">
              <path [attr.d]="red.svgPath"></path>
            </svg>
            <span class="text">{{ red.nombre }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>